<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="card">
  <div class="card-header">
    Informacion del producto 
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text mb-3">Nombre</span>
        <%= form.text_field :name, class:'form-control mb-3' %>
      </div>
    </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text mb-3">Descripcion</span>
      <%= form.text_field :description, class: 'form-control mb-3' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text mb-3">Modelo </span>
      <%= form.text_field :model, class:'form-control mb-3' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text mb-3">Marca</span>
      <%= form.text_field :brand, class:'form-control mb-3' %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text mb-3">Precio</span>
      <%= form.text_field :price, class:'form-control mb-3' %>
    </div>
  </div>


<div class="input-group mb-3">
  <span class="input-group-text">Presente en stock</span>
  <div class="input-group-text">
   <%= form.check_box :stock, class:'form-check-input mt-0'%>
  </div>
</div>


  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text mb-3">Imagen</span>
      <%= form.file_field :image, class:'form-control mb-3'%>
    </div>
  </div>

  <div class="d-grid">
    <%= form.submit "Aceptar", class:'btn btn-lg btn-outline-success btn-login fw-bold mb-2' %>
  </div>

  </div>

  </div>
  </div>
</div>



<% end %>

